@import 'styles';

.article {
  position: relative;
  border-radius: $radius-m;
  background-color: $color-background-1;
  max-height: 420px;
}

.cover {
  @include flex-center;
  width: 100%;
  height: 15rem;
  background-color: $color-background-4;
  border-top-left-radius: $radius-m;
  border-top-right-radius: $radius-m;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: $radius-m;
    border-top-right-radius: $radius-m;
  }
}

.body {
  @include element-flex(column);
  gap: $spacing-3;
  padding: $spacing-6;
}

.title {
  @include title3;
  color: $color-foreground;
}

.content {
  @include body2;
  color: $color-foreground;
  max-height: 80px;
  overflow: hidden;
}

.modalSettings{
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
}
