@import 'styles';

.bookmarksWrapper{
    // flex: 1; 
    // // grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  
    // display: grid;
    // gap: $spacing-4;
    // margin: 20px 0;
    // transition: $transition-main;
    // grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  
    // @media (max-width: 768px) {
    //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // }
  
    // @media (max-width: 480px) {
    //   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    //   gap: $spacing-3;
    // }
  
    // @media (max-width: 360px) {
    //   grid-template-columns: 1fr;
    //   justify-items: center; // <- też tu
    //   gap: $spacing-2;
    // }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

.list {
  flex: 1;
  display: grid;
  flex-wrap: wrap;
  gap: $spacing-4;
  margin: 20px 0;
  transition: $transition-main;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);

  &.withMap {
    grid-template-columns: repeat(2, 1fr); // 👈 zmiana tylko jeśli mapa włączona
  }
  // duże ekrany
  @include desktopWidth {
    grid-template-columns: repeat(3, 1fr);
  }

  // <= 1024px
  @include mobileWidth {
    grid-template-columns: repeat(3, 1fr);

    &.withMap {
      grid-template-columns: repeat(2, 1fr); // 👈 zmiana tylko jeśli mapa włączona
    }
  }

  // <= 768px
  @include tabletWidth {
    grid-template-columns: repeat(3, 1fr);
  }

  // <= 480px
  @include phoneWidth {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $spacing-3;
  }

  // <= 320px
  @include smPhoneWidth {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: $spacing-2;
  }
}